<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Imgmaterial</title>
</head>
<div class="header">
    <div class="header-content">
        <div class="header-buttons">
            <a href="{{url_for('show_all')}}" style="text-decoration:none">Gallery</a>
            <a href="{{url_for('upload')}}" style="text-decoration:none">Upload</a>
        </div>
    </div>
</div>
<body>
<center><div id="container">

    {% for i in imagelist %}
    <a href="{{url_for('Display_img',img = i)}}"><img src = "{{ url_for('static', filename='IMG/'+i)}}" class="zoom-image" height="256px" width="256px" ></a>
    {% endfor %}

</div></center>
</body>
</html>